.text-center {
    text-align: center;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: burlywood;
}


.mx-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}



.item-center {
    align-items: center;
    justify-content: center;
}
